body {
  background: url("../img/dark_fish_skin.png"); }

a, a:visited {
  color: #E04006;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

#wrapper {
  color: #ddd; }
  #wrapper h1, #wrapper h2, #wrapper h3 {
    color: #efefef; }

h1 {
  font-size: 1.75em; }

#darkChange {
  display: none; }
