body {
  background: url("../img/dark_fish_skin.png");
  font-family: georgia; }

* {
  color: #ddd; }

a, a:visited {
  color: #E04006;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

h1, h2, h3 {
  color: #efefef; }

h1 {
  font-size: 1.75em; }

#darkChange {
  display: none; }
