* {
  margin: 0;
  padding: 0; }

#wrapper {
  margin-left: 29%; }
  #wrapper > div {
    width: 100%;
    padding-top: 2%; }

header {
  padding: 1% 1%;
  width: 25%;
  height: 100%;
  position: fixed;
  border-right: 3px solid #333333; }
  header dl {
    font-size: 18px; }
  header span {
    font-size: 18px;
    padding-left: 30px; }
  header #styleChange {
    padding-left: 12%;
    font-size: 30px;
    list-style-type: none; }

#myPhoto {
  -webkit-box-shadow: 3px 7px 20px black;
  -moz-box-shadow: 3px 7px 20px black;
  -ms-box-shadow: 3px 7px 20px black;
  -o-box-shadow: 3px 7px 20px black;
  box-shadow: 3px 7px 20px black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7px, Direction=180, Color='black')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7px, Direction=180, Color='black');
  border: 10px solid white;
  margin: 3% auto;
  display: block; }

#errored {
  position: absolute;
  padding-top: 10px;
  width: 100%;
  height: 40px;
  background-color: orange;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 24px; }
