* {
  margin: 0;
  padding: 0; }

h4 {
  padding-left: 4px; }

dl dt {
  padding-left: 4px;
  font-weight: 600;
  font-size: 1.05em; }
dl dd {
  padding: 2px 3px 6px 12px; }

#container {
  margin: auto;
  width: 80%;
  min-width: 800px;
  position: relative; }

#wrapper {
  margin-left: 381px;
  padding: 0 12px 0 16px;
  max-width: 650px; }
  #wrapper > div {
    width: 100%;
    padding-top: 3%; }
  #wrapper dl {
    width: 100%; }
  #wrapper dt {
    width: 28%; }
  #wrapper dd {
    float: left; }
  #wrapper .poster {
    width: 100%;
    max-width: 100%;
    margin-top: 12px; }

header {
  padding: 14px 8px;
  width: 361px;
  height: 100%;
  position: fixed;
  border-right: 3px solid #333333;
  color: #333;
  background: url("../img/lbp.png");
  -webkit-box-shadow: 0 9px 12px black;
  -moz-box-shadow: 0 9px 12px black;
  -ms-box-shadow: 0 9px 12px black;
  -o-box-shadow: 0 9px 12px black;
  box-shadow: 0 9px 12px black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9px, Direction=180, Color='black')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9px, Direction=180, Color='black'); }
  header h2 {
    padding-left: 8px; }
  header dl {
    font-size: 18px;
    padding-left: 14px; }
  header span {
    font-size: 18px;
    padding-left: 30px; }
  header #styleChange {
    padding-left: 12%;
    font-size: 30px;
    list-style-type: none; }
  header #examples, header #design {
    list-style-type: none;
    padding-left: 32px; }
    header #examples li, header #design li {
      padding: 4px 4px; }
    header #examples a, header #design a {
      text-decoration: underline;
      font-size: 1.1em; }

#myPhoto {
  -webkit-box-shadow: 3px 7px 20px black;
  -moz-box-shadow: 3px 7px 20px black;
  -ms-box-shadow: 3px 7px 20px black;
  -o-box-shadow: 3px 7px 20px black;
  box-shadow: 3px 7px 20px black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7px, Direction=180, Color='black')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7px, Direction=180, Color='black');
  border: 10px solid white;
  margin: 3% auto;
  display: block; }

#errored {
  position: absolute;
  padding-top: 10px;
  width: 100%;
  height: 40px;
  background-color: orange;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 24px; }

#skills span {
  font-weight: 700; }
#skills li {
  list-style-type: none;
  padding-left: 8px; }

#experiences {
  margin-top: 10px; }
