* {
  margin: 0;
  padding: 0; }

h4 {
  padding-left: 4px; }

dl dt {
  padding-left: 4px;
  font-weight: 600;
  font-size: 1.05em; }
dl dd {
  padding: 2px 3px 6px 12px; }

#wrapper {
  margin-left: 424px;
  width: 40%; }
  #wrapper > div {
    width: 100%;
    padding-top: 3%; }
  #wrapper dl {
    width: 100%; }
  #wrapper dt {
    width: 28%; }
  #wrapper dd {
    float: left; }

header {
  padding: 1% 1%;
  width: 361px;
  height: 100%;
  position: fixed;
  border-right: 3px solid #333333; }
  header h2 {
    padding-left: 8px; }
  header dl {
    font-size: 18px;
    padding-left: 14px; }
  header span {
    font-size: 18px;
    padding-left: 30px; }
  header #styleChange {
    padding-left: 12%;
    font-size: 30px;
    list-style-type: none; }

#myPhoto {
  -webkit-box-shadow: 3px 7px 20px black;
  -moz-box-shadow: 3px 7px 20px black;
  -ms-box-shadow: 3px 7px 20px black;
  -o-box-shadow: 3px 7px 20px black;
  box-shadow: 3px 7px 20px black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7px, Direction=180, Color='black')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7px, Direction=180, Color='black');
  border: 10px solid white;
  margin: 3% auto;
  display: block; }

#errored {
  position: absolute;
  padding-top: 10px;
  width: 100%;
  height: 40px;
  background-color: orange;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 24px; }

#skills span {
  font-weight: 700; }
#skills li {
  list-style-type: none;
  padding-left: 8px; }

#experiences {
  margin-top: 10px; }
