body {
  background: url("../img/lbp.png"); }

* {
  color: #333; }

a, a:visited {
  color: #E04006;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

h1, h2, h3 {
  color: #333; }

#lightChange {
  display: none; }
