body {
	background:url('../img/dark_fish_skin.png');
}
* {
	color:#eee;
}
a, a:visited {
	color:#E04006;
	text-decoration:none;

	&:hover {
		text-decoration:underline;
	}

}

h1, h2, h3 {
	color:#eee;
}

#darkChange {
	display:none;
}