@mixin boxShadow($right, $bottom, $blur, $colorCode){
	-webkit-box-shadow:$right $bottom $blur $colorCode;
	-moz-box-shadow: $right $bottom $blur $colorCode;
	-ms-box-shadow: $right $bottom $blur $colorCode;
	-o-box-shadow: $right $bottom $blur $colorCode;
	box-shadow: $right $bottom $blur $colorCode;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=#{$bottom}, Direction=180, Color='#{$colorCode}')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=#{$bottom}, Direction=180, Color='#{$colorCode}');
}

* {
	margin:0;
	padding:0;
}

h4 {
	padding-left:4px;
}

dl {
	dt{
		padding-left:4px;
		font-weight:600;
		font-size:1.05em;
	}
	dd{
		padding:2px 3px 6px 12px;
		//width:60%;
	}
}

#container {
	margin:auto;
	width:80%;
	min-width:800px;
	position:relative;
}

#wrapper {
	margin-left:381px;
	padding:0 12px 0 16px;
	max-width:650px;	
	
	& > div {
	width:100%;
	padding-top:3%;
	}

	dl {width:100%;}
	
	dt {
		width:28%;
	}

	dd {float:left;}

	.poster {
		width:100%;
		max-width:100%;
		margin-top:12px;
	}
}

header {
	padding:14px 8px;
	width:361px;
	height:100%;
	position:fixed;
	border-right:3px solid #333333;
	color:#333;
	background:url('../img/lbp.png');
	@include boxShadow(0,9px, 12px, #000);

	#home {
		color:#111;
		text-decoration:underline;
	}

	#homeBottom {
		padding-top:12px;
		text-align:center;
		text-decoration:underline;
	}
	h2 {
		padding-left:8px;
	}

	dl {
		font-size:18px;
		padding-left:14px;
	}

	span {
		font-size:18px;
		padding-left:30px;
	}

	#styleChange {
		padding-left:12%;
		font-size:30px;
		list-style-type:none;

	}
	#examples, #design {
		list-style-type:none;
		padding-left:32px;

		li{
			padding:4px 4px;
		}
		a {
			text-decoration:underline;
			font-size:1.1em;
		}
	}
}

#myPhoto {
	@include boxShadow(3px, 7px, 20px, #000);
	border:10px solid #fff;
	margin:3% auto;
	display:block;
}

#errored {
	position:absolute;
	padding-top:10px;
	width:100%;
	height:40px;
	background-color:orange;
	text-align:center;
	top:0;
	left:0;
	font-size:24px;
}

#skills {
	span {
		font-weight:700;
	}
	li{
		list-style-type:none;
		padding-left:8px;

	}
}
#experiences{
	margin-top:10px;
}